.ipynb_checkpoints/
.pytest_cache/
robout_pedro_r_dias.egg-info/
tests/.pytest_cache
tests/.ipynb_checkpoints
tests/__pycache__
robout/.ipynb_checkpoints
robout/__pycache__
robout-pedro-r-dias/
resources/.ipynb_checkpoints
resources/__pycache__
hints.txt
